<div class="container-box">
<div class="order-info">
    <input type="text" [(ngModel)]="name" class="mainInfo" placeholder="Customer">
    <input type="text" [(ngModel)]="table" class="mainInfo" placeholder="Table">
</div>

<div class="ticket-h">
    <p>Order: {{num}} </p>
    <p>Table: {{table}} </p>
    <p>Customer: {{name}} </p>
    <p>Waiter: {{waiter}} </p>
</div>

<div class="container-data">
<div id="ticket" class="ticket-b" *ngFor="let bProduct of breakProduct; index as i">
    
    {{ bProduct }}  <!-- (|json) Pipe JSON para transformar la data y que muestre los valores del objeto  -->
   
    <!-- <button (click)="rest()">-</button>
    {{ contador }}
    <button (click)="sum()">+</button> -->
    
    <button (click)="deleteItem(i)"><i class="fas fa-trash-alt"></i></button>
</div>
<div id="ticket" class="ticket-b" *ngFor="let lProduct of lunchProduct; index as i">
    
    {{ lProduct }}  <!-- (|json) Pipe JSON para transformar la data y que muestre los valores del objeto  -->

    <!-- <button (click)="rest()">-</button>
    {{ contador }}
    <button (click)="sum()">+</button> -->

    <button (click)="deleteItems(i)"><i class="fas fa-trash-alt"></i></button>
</div>

<div class="btn">
    <button class="sent" (click)="orderPlaced(); mainInfo.value =''">Place Order</button>
</div>
</div>

</div>