body {
    margin-top: 40px;
}

.style-box {
    position: absolute;
    margin: 5% 2%;
}

.tab {
    margin: 10px;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 23px;
    border: 2px solid #2d3142;
    border-radius: 5px 5px 0 0;
    padding: 10px 20px; 
    color: #2d3142; 
}

.container {
    margin: 10px 40% 10px 10px;
    display: grid;
    grid-template-rows: 45% 45%;
    /* 35% 35% */
    grid-template-columns: repeat(3, 1fr);
    border: 2px solid #2d3142;
    border-radius: 0 10px 10px 10px;
    background-color: white;
    padding-top: 40px;
}

.content {
    /* margin: 60px 30px -30px 20px; */
    display: flex;
    margin: 20px 10px;
    /* 15px */
    /* 7% 15% */
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins';
    border-radius: 10px;
    border: 1px solid #FFD8B8;
    padding: 3%;
    background: #FCEFE4;
    font-size: 18px;
    text-align: center;
}

img {
    width: 60%;
    height: 55%;
}

