<div class="header">
<button [routerLink]="['']"><i class="fas fa-sign-out-alt fa-4x"></i></button>
<h1>BURGER 👑 QUEEN</h1>
</div>

<div class="principal">

<div class="titles">
<ul>
  <li>Order #</li>
  <li>Items</li>
  <li>Time Check in/Check out</li>
  <li>Order status </li>
</ul>
</div>

<div class="orders">
  <div class="order1" *ngFor="let orders of order$|async">
    <p>{{orders.orderNum}}</p>
    <div class="productsChefDiv">
    <p class="productsChef">{{orders.products}}</p>
    </div>
    <p>10:10am/10:50am</p>
    <button class="buttons" [ngClass]="{'pending': status, 'done': !status}" (click)="changeStatus(orders)">{{text}}</button>
  </div>

</div>
</div>
<footer>Made by Majo, Nati y Ale </footer>