<h1>BURGER 👑 QUEEN</h1>

<div class="principal">


<ul>
  <li>Order #</li>
  <li>Time Check in/Check out</li>
  <li>Order status </li>
</ul>


  <div class="order1">
    <p>Order # 0005</p>
    <p>10:10am/10:50am</p>
    <input type="button" value="Pending">
  </div>

  <div class="order2">
    <p>Order # 0005</p>
    <p>10:10am/10:50am</p>
    <input type="button" value="Pending">
  </div>

  <div class="order3">
    <p>Order # 0005</p>
    <p>10:10am/10:50am</p>
    <input type="button" value="Pending">
  </div>

  <div class="order4">
    <p>Order # 0005</p>
    <p>10:10am/10:50am</p>
    <input type="button" value="Pending">
  </div>

</div>